<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/admin.css">
<link rel="stylesheet" type="text/css" href="css/pintuer.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<title>学生登录</title>
</head>

<body>
	<div class="bg"></div>
	<div class="container">
		<div class="line bouncein">
			<div class="xs6 xm4 xs3-move xm4-move">
				<div style="height: 80px;"></div>
				<div class="media media-y margin-big-bottom"></div>
				<form method="post" class="login-form">
					<div class="panel loginbox">
						<div class="text-center margin-big padding-big-top">
							<h1>在线考试系统</h1>
							<div class="form-top-left">
								<br> <input name="sex" type="radio" value="学生"
									checked="checked" />学生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input name="sex" type="radio" value="教师" />教师
								<!-- <a data-type="student" href="javascript:void(0);" style="color: red;">学生登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;
                                <a data-type="admin" href="javascript:void(0);">管理员登录</a><br> -->
								<br>
								<p id="mes" style="color: red;"></p>
							</div>
						</div>
						<div class="panel-body"
							style="padding: 30px; padding-bottom: 10px; padding-top: 10px;">
							<div class="form-group">
								<div class="field field-icon-right">
									<input id="usernameId" type="text" class="input input-big"
										name="username" placeholder="登录账号"
										data-validate="required:请填写账号" /> <span
										class="icon icon-user margin-small"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="field field-icon-right">
									<input id="passwordId" type="password" class="input input-big"
										name="userpwd" placeholder="登录密码"
										data-validate="required:请填写密码" /> <span
										class="icon icon-key margin-small"></span>
								</div>
							</div>
						</div>
						<div style="padding: 30px;">
							<button type="submit"
								class="button button-block bg-main text-big input-big">登录</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/pintuer.js"></script>

	<script type="text/javascript">
		$(function() {
			$(".button").click(doLogin);
		});
		function doLogin() {
			//debugger
			var params = {
				userName : $("#usernameId").val(),
				Password : $("#passwordId").val(),
				host : $('input:radio:checked').val()
			}
			var url = "user/doLogin.do";
			//console.log("params", params);
			$.post(url, params, function(result) {
				//debugger
				//console.log(result);
				if (result.state == 1) {
					if (params.host == "学生") {
						location.href = "doIndex.do?t=" + Math.random();
					} else{
						location.href = "doIndexUI.do?t=" + Math.random();
					}
				}else {
					//debugger
					alert(result.message);
				}
			});
				return false;//防止刷新时重复提交
		}
	</script>
</body>

</html>